html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#page-heading {
    background-color: #E63E62;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
.heading-text {
    color: #FFD700;
    text-align: center;
    font-family: 'Baloo', cursive;
    text-shadow: 5px 5px 2.5px #888888;
}
#listbox {
    position: absolute;
    width: 550px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -275px;
    background-color: #FF5349;
    box-shadow: 5px 5px 2.5px #888888;
    border-radius: 15px;
}
.listbox-header {
    color: #FFD700;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-shadow: 5px 5px 2.5px #888888;
}
#page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #E63E62;
}
.footer-text {
    color: #FFD700;
    text-shadow: 5px 5px 2.5px #888888;
    text-align: center;
    font-family: 'Baloo', cursive;
}
label, input {
    display: block;
}
input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}
h1 {
    font-size: 1.2em;
    margin: .6em 0;
}
div#users-contain {
    width: 350px;
    margin: 20px 0;
    margin-left: 120px;
}
div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: auto;
    height: auto;
    overflow-y:auto;
}
div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
}
.ui-dialog .ui-state-error {
    padding: .3em;
}
#dialog-form{
    background-color: pink;
    padding-bottom: 15em;
    border-radius: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}
.ui-widget-header, .ui-button-text{
    font-family: 'Open Sans Condensed', sans-serif;
}
.ui-button{
    margin-left: auto;
}
#create-item{
    margin-left: 240px;
}
